body {
  background-color: #1A1D24;
}

h1 {
  color: skyblue;
  text-align: center;
}

p {
  color: skyblue;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  align-items: left;
  justify-content: left;
  background-color: #2196F3;
}

.border {
  border: 1px solid #2196F3;
}

.grid-draw {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 20px;
  color: #1A1D24;
}

footer {
  text-align: center;
  border: 2px solid #2196F3;
  color: skyblue;
}

a {
  text-decoration: none;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  border: 2px solid whitesmoke;
  padding: 10px 20px;
  margin-right: 15px;
  border-radius: 5px;
  background-color: #1A1D24
}

a:hover {
  background: #2196F3;
  color: #1A1D24;
}

.button {
  text-align: center;
  font-style: bold;
  color: #2196F3;
}

.align {
  text-align: center;
}
img{
  width: 100%;
  height: 100%;
}
.grid {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-auto-rows: 100%;
  background-color: #2196F3;
  padding: 10px;
  max-width: 1000px;
  max-height: 140vh;
  align-self: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

@media(max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: center;
  }
}