body
{
background-color: #1A1D24;
}
h1
{
    color: skyblue;
}
p{
    color: skyblue
}
button
{
    background-color: #1F1F1F;
    color: skyblue;
}
.grid1{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%; 
    grid-auto-rows: 100px ;	
    background-color: #2196F3;
    padding: 10px;
 }
 .grid2{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%; 
    grid-column-start:auto;
    
 }
 .grid-draw {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    
    
  }
 .flexContainter{
    display: flex;
    flex-direction: row;
    }

footer{
    text-align: center;
    color: skyblue;
}
a{
color: skyblue;
text-decoration: none;
font-size:larger ;
font-family: Arial, Helvetica, sans-serif;
}
.test
{
    text-align: center;
    font-style: bold;
    color: #2196F3;
}
.align{
text-align: center;
}
