body
{
background-color: #1F1F1F;
}
h1
{
    color: whitesmoke;
}
button
{
    background-color: #1F1F1F;
    color: whitesmoke;
}
.grid1{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%; 
    grid-auto-rows: 100px ;	
    background-color: #2196F3;
    padding: 10px;
 }
 .grid2{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%; 
    grid-column-start:auto;
    
 }
 .grid-draw {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
 .flexContainter{
    display: flex;
    flex-direction: row;
    }
section{
    border: 1px solid whitesmoke;
}
  

 
